{% extends "home.html" %} {% block body %}
<title>foRtReSS - Home</title>
<link rel=stylesheet type=text/css
	href="{{ url_for('static', filename='styles/forts.css') }}">
<div id="page">
	{% if session.logged_in %}
	<div id="addfort">
		<form action="{{ url_for('addfort') }}" method="post">
			<div id="avat">{{ session.logged_user[0].upper() }}</div>
			<p>
				<textarea id="fort" maxlength="150" name="text"
					placeholder="Fort your thoughts..."></textarea>
			</p>
			<p>
				<input id="sub-btn" type="submit" value="Post">
			</p>
		</form>
	</div>
	{% endif %}
	<ul id="fortlist">
		{% for entry in entries %}
		<li><div id="fortitem">
				<div id="avat">{{ entry.author[0].upper() }}</div>
				<div id="login">{{ entry.author }}</div>
				<div id="content">{{ entry.text }}</div>
			</div></li> {% endfor %}
	</ul>
</div>
<script type=text/javascript
	src="{{ url_for('static', filename='scripts/fort.js') }}"></script>
{% endblock %}
