<html>
<head>
<link rel=stylesheet type=text/css
	href="{{ url_for('static', filename='styles/signup.css') }}">
<script type=text/javascript
	src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<title>foRtReSS - Sign Up</title>
</head>
<body>
	<p id="logo">
		<a href="{{ url_for('home') }}">foRtReSS</a>
	</p>
	<div id="signupbox">
		<p id="boxtitle">Sign Up</p>
		{% if error %}<p id="errorbox">{{error}}</p>{% endif %}
		<form action="{{ url_for('signup') }}" method=post>
			<p>
				<input id="username-fld" autofocus="autofocus" name="username" placeholder="Username"
					type="text">
			</p>
			<p>
				<input id="password-fld" name="password" placeholder="Password"
					type="password">
			</p>
			<p>
				<input id="repassword-fld" name="repassword"
					placeholder="Retype Password" type="password">
			</p>
			<p>
				<input id="signup-btn" type="submit" value="Sign Up">
			</p>
			<p id="back">
				<a href="{{ url_for('signin') }}">I already have an account. Sign In</a>
			</p>
		</form>
	</div>
	<script type=text/javascript
		src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
</body>
</html>